*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}
html,body{
    height: 100%;
    width:100%;
}

body{
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: aqua;
}

.container{
    height: 400px;
    width:300px;
    background-color: aliceblue;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    
}
.container img{
    object-fit: cover;
    height: 100%;
    width: 100%;
}
.container i{
    color:#fff;
    font-size: 70px;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%) scale(0);
    opacity: 0;
    transition: transform ease 0.4;
    
}