*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    color:white;
    background-color: black;
}
html,body{
    height:100%;
    width:100%;
}

.main{
    position: relative;
    
}
.ele{
    width:100%;
    height: 158px;
    border-bottom: 3px solid white;
   
    display: flex;
    align-items: center;
    
}

h1{
   
    font-weight: 1000;
    font-size: 50px;
   position: relative;
   z-index: 9;
   mix-blend-mode: difference;
}

.ele img{
    
    width: 100px;
    height: 100px;
   
    border-radius: 50px;
    object-fit: cover;
    position: absolute;
    transform: translate(-50%,-50%);
    opacity: 0;
    
   
   
}