*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
}

html,body{
    height: 100%;
    width: 100%;
}

body{
    align-items: center;
    background-color: cornflowerblue;
    justify-content: center;
    display:flex;
}

#card{
    height: 400px;
    width:300px;
    background-color: aliceblue;
    border-radius: 10px;
    padding: 20px;

}
#card #model img{
    height: 50%;
    width:100%;
    object-fit: cover;
    object-position: center;
    border-radius: 30px;

}

#card h1{
    text-align: center;
    font-size: 25px;

}

#card h5{
    margin-top: 10px;
    text-align: center;
    color:red;
    font-size: 20px;
    margin-bottom: 5px;
    font-weight: 1000;
}

#card button{
 
    text-align: center;
    color:rgb(0, 55, 255);
    margin: 23px;
    padding: 5px;
    border:none;
    cursor:pointer;
    
}

#card #add{
    background-color: rgb(238, 230, 230);
        font-weight: 400;


}

.back{
    background-color: beige;
    text-align: center;
}