*{
    margin: 0;
    padding: 0;
    text-align: center;

}
h1{
    background-color: rgba(0, 0, 0, 0.331);
    height: 5rem;
    line-height: 5rem;
    align-items: center;
    justify-items: center;
}

.choice{
    height: 200px;
    width: 200px;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 15rem;
}

img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.choices{
    display:flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    margin-top:5rem ;
}

.choice:hover{
    opacity: 0.8;
    cursor: pointer;
    background-color: black;
}
.score-board
{
    display:flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    margin-top: 3rem;
    gap: 5rem;
}

#user-score,#comp-score{
    font-size:4rem;
}

.msg-container{
    margin-top: 5rem;
}

#msg{
    background-color: rgb(16, 16, 16);
    color: rgb(240, 240, 242);
    display: inline;
    font-size: 2rem;
    padding: 1rem;
    border-radius: 1rem;
}
